<div class="container">

<div class="row">
  <div class="col-sm-6">

    <% if params[:location] || params[:check_in] || params[:check_out] || params[:check_out] != nil %>
    <div class="booking-request">
      <div class="booking-request__location">
        <label for="location">Location</label>
        <%= params[:location] %>
      </div>
      <div class="booking-request__check_in">
        <label for="check_in">Check in</label>
        <%= params[:check_in].to_time.strftime('%a %b %d %Y') %>
      </div>
      <div class="booking-request__check_out">
        <label for="check_in">Check out</label>
        <%= params[:check_out].to_time.strftime('%a %b %d %Y') %>
      </div>
      <div class="booking-request__os">
        <label for="check_in">Guests</label>
        <%= params[:os] %>
      </div>
    </div>
    <% end %>

    <% @flats.each do |flat| %>
      <div class="product">
        <div class = "product-image">
          <%= image_tag cl_image_path(flat.photo, height: 200, width: 300, crop: :fill) %>

          <%#= link_to cl_image_tag("flats/#{flat.photo}.jpg", height: 200, width: 300, crop: :fill, radius: 6), "/flats/#{flat.id}" %>

          </div>
        <div class='product-body'>
          <div class="">
          <h3><%= flat.name.capitalize %> </h3>
            <%= link_to "Book Flat", "/flats/#{flat.id}", :class => 'btn btn-primary' %>
          </div>

          <div class="">
          <p><%= flat.description.capitalize if flat.description %></p>
          </div>

          <div class="">
          <p class="product-controls">
          </p>
        </div>

        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li>
            <%if flat.user.photo.present? %>
             <%= image_tag cl_image_path(flat.user.photo, height: 50, width: 50, crop: :fill),class: 'user-img' %>
           <% end %>
          </li>
        </ul>
      </div>
    <% end %>
</div>

  <div class="col-sm-6">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

  </div>

</div>

</div>

