<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">


      <div class="col-xs-12 col-sm-6">
        <%= link_to "Go back to list", flats_path, :class => 'btn btn-default'%>
        <h3><%= @flat.name.capitalize %> <%= link_to "🗑", flats_path, method: :delete %></h3>

        <div class="flat-image">
          <%= cl_image_tag("flats/#{@flat.photo}.jpg", height: 400, width: 600, crop: :fill, radius: 6) %>
        </div>

        <div class="col-xs-12 col-sm-6 flat-user">
          <%= cl_image_tag("flats/#{@flat.user.photo}.jpg", height: 50, width: 50, crop: :fill, radius: 50) if @flat.user.photo %>
          <p><%= @flat.user.name %>'s flat</p>
          <p><%= @flat.price%> euros</p>
          <p><%= @flat.category.capitalize%> flat</p>
          <p><%= @flat.address%></p>
          <p> <%if @flat.wifi%> Wifi <%end%></p>
          <p><%if @flat.kitchen%> Kitchen <%end%></p>
          <p><%if @flat.air_conditionning%> Air Conditionning <%end%></p>
        </div>

        <div class="col-xs-12 col-sm-6 flat-description">
          <p><%= @flat.description.capitalize if @flat.description %></p>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6">
        <%= render 'bookings/form-booking' %>
      </div>

    </div>

  </div>


