<div class="booking-form">
  <div class="container">
    <h3 class="booking-form__title">The booking form</h3>
    <p class="booking-form__notice">TrashBnB does not hold any liablity in case of any health, physical, mental or colletaral damage while enjoying your stay</p>

    <% if user_signed_in? %>

      <%= simple_form_for [@flat, Booking.new] do |f| %>
        <%= f.input :check_in %>
        <%= f.input :checkout %>
        <p>Select payment option:</p>
        <div class="booking-form__group">
          <input type="radio" name="payment-option" value="cash" checked>
          <i class="far fa-money-bill-alt"></i>
          <label for="cash">Cash</label>
        </div>
        <div class="booking-form__group">
          <input type="radio" name="payment-option" value="bitcoin">
          <i class="fab fa-bitcoin"></i>
          <label for="bitcoin">Bitcoin</label>
        </div>
        <div class="booking-form__group">
          <input type="radio" name="payment-option" value="slavery">
          <i class="far fa-child"></i>
          <label for="slavery">Be a slave</label>
        </div>
        <%= f.submit 'Are you sure?', class: 'btn btn-lg btn-danger' %>
      <% end %>
    <% else %>
      <div class="booking-form__flash">
        <p><%= flash.now[:alert] = 'You need to login to book a flat' %></p>
      </div>

      <div class="booking-form__not-logged-in-info">
        <p>You have to login to book this flat</p>
      </div>
      <div class="booking-form__log-in">
        <%= link_to 'Log in', new_user_session_path, class: "btn btn-success" %>
      </div>
      <div class="booking-form__sign-in">
        <%= link_to 'Create new account', new_user_registration_path, class: "" %>
      </div>
    <% end %>
  </div>
</div>
